.character-sheet {
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.character-header {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    gap: 2em;
    align-items: flex-start;
    justify-content: left;
}

.character-details {
    max-width: 950px;
}

h2 {
    font-size: 2.5em;
    padding-bottom: -1em;
    color: var(--primary);
}

.character-details p {
    font-size: 1.1em;
    line-height: 1.6;
}

.character-image {
    width: 300px;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.character-image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.character-details h3,
.character-descriptions h3,
.color-palette h3,
.relationships h3,
.art-section h3 {
    font-size: 1.8em;
    color: var(--primary);
    margin: 0.5em 0;
}

.character-descriptions p {
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 1em;
}

.color-palette {
    text-align: center;
}

.palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    border-radius: 8px;
}

.color-swatch {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    color: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.color-swatch:hover {
    color: var(--text);
    transform: scale(1.05);
}

.art-section {
    text-align: center;
}

.art-gallery {
    max-width: 1200px;
    margin: 0 auto;
    column-count: auto;
    column-width: 250px;
    column-gap: 0.5em;
    column-fill: balance;
}

.art-gallery > div {
    margin-bottom: .5em;
}

.art-gallery > div img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.art-gallery > div > img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px var(--primary, 0.1);
}

/* Relationships Section */
.relationships {
    text-align: center;
}

.relationship-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
    margin-top: 2em;
}

.relationship-card {
    
    border-radius: 12px;
    box-shadow: 0 4px 6px var(--soft_shadow);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.relationship-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px var(--secondary);
}

.relationship-image {
    height: 200px;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.relationship-details {
    padding: 15px;
    color: var(--text);
}

.relationship-details h4 {
    font-size: 1.6em;
    color: var(--primary);
    margin-bottom: 0.5em;
}

.relationship-details p {
    font-size: 1em;
    line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
    .character-sheet {
        padding: 100px 50px;
    }

    .character-header {
        flex-direction: column-reverse;
        align-items: center;
    }

    .character-image {
        width: 200px;
        height: 400px;
    }

    .palette {
        flex-direction: column;
        align-items: center;
    }

    .color-swatch {
        width: 80px;
        height: 80px;
    }

    .relationship-gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .relationship-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .relationship-image {
        height: 40%;
        width: 100%;
        border-radius: 50%;
        margin: 0 auto;
    }

    .relationship-details {
        text-align: left;
    }
}
