.sec{
  padding: 10em 2em;
}

.sec h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.sec p {
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
}

.character-group {
    scroll-margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.character-group h3 {
    font-size: 2em;
    color: var(--secondary);
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: center;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2em;
}

.character-card {
    border-radius: 12px;
    box-shadow: 0 4px 6px var(--soft_shadow);
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.character-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px var(--secondary);
}

.character-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.character-card .card-body {
    padding: 1em;
}

.character-card h4 {
    margin-bottom: 0.3em;
    color: var(--primary);
    font-size: 1.3em;
}

.character-card p {
    font-size: 0.95em;
    line-height: 1.4;
    color: var(--text);
}
