.card.social-media {
    justify-content: center;
}

.logo{
    height: 1em;
    width: auto;
}

.account{
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    height: 5em;
    width: auto;
    float: right;
    margin-left: 1em;
}