:root[data-theme="light"] {
    --text: #050315;
    --background: #fbfbfe;
    --primary: #5a94e5;
    --secondary: #adabd3;
    --accent: #70d074;
}

:root[data-theme="dark"] {
    --text: #f1e2e0;
    --background: #090606;
    --secondary: #e69686;
    --primary: #912611;
    --accent: #f7401a;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    background: rgb(31, 31, 31);
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 88, 88);
    cursor: grab;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    scrollbar-color: var(--secondary) var(--primary);
    scrollbar-width: thin;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--background);
    transition: background-color 0.3s, color 0.3s;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    margin: 0;
}

.header .logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
    font-style: italic;
    color: var(--text);
}

.header .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: var(--background);
}

.header .navigation li {
    list-style: none;
    margin-left: 20px;
}

.header .navigation li a {
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    background: var(--background);
}

.header .navigation li a:hover,
.header .navigation li a.active {
    background: var(--text);
    color: var(--background);
}

.header .theme {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(../../assets/dark2.png);
    background-size: 30px;
    background-position: center; 
    background-repeat: no-repeat;
    z-index: 10000;
    border: none;
    margin: 0;
} 

.header .theme.dark {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(../../assets/light.png);
    background-size: 30px;
    background-position: center; 
    background-repeat: no-repeat;
    z-index: 10000;
    border: none;
    margin: 0;
}

@media (max-width: 992px) {
    .header {
        padding: 20px;
    }

    .header .logo {
        font-size: 1.5em;
    }

    .header .navigation {
        display: none;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../../assets/parallax/menu2.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10000;
    }

    .toggle.dark {
        background: url(../../assets/parallax/menu.png);
    }

    .toggle.active {
        position: fixed;
        top: 20px;
        right: 20px;
        background: url(../../assets/parallax/close2.png);
    }

    .toggle.active.dark {
        background: url(../../assets/parallax/close.png);
    }

    .header .navigation li {
        margin-left: 0;
    }

    .header .navigation li a {
        font-size: 1.5em;
        margin: 5px 0;
        border-radius: 30px;
        display: inline-block;
    }
}