h3 {
  color: var(--primary);
  padding: 1em;
}

h2 {
  padding: 1em 0;
}

section{
  padding: 5em 2em;
}

img {
  max-height: 300px;
  width: auto;
  vertical-align: middle;
  display: inline-block;
  
  border: 3px solid var(--text);
  background-color: var(--background);
  user-select: none;
}

img:hover{
  box-shadow: 2px 2px 10px var(--text);
}

.gallery {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#image-container.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#image-container > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#image-container > div > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#image-container.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#image-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

span.date {
  color: var(--text-color);
  font-style: italic;
  font-size: 12px;
}

#infoBox {
  padding-left: 15px;
}

#infoBox > p {
  font-size: 15px;
}

#infoBox > h4 {
  margin: 0;
  padding: 0;
  color: var(--secondary);
}

.sort-container {
  padding: 1em;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.dropdownbtn {
  background-color: var(--secondary);
  color: var(--text);
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  min-width: 130px;
  user-select: none;
}

.dropdownbtn:hover, .dropdownbtn:focus{
  background-color: var(--text);
  color: var(--background);
}

.filterbtn {
  background-color: var(--secondary);
  color: var(--text);
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  min-width: 130px;
  user-select: none;
  border: 1px solid var(--background);
  align-self: center;
  margin: auto;
}

.filterbtn.toggle {
  display: none;
}

.filterbtn:hover{
  background-color: var(--text);
  color: var(--background);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: var(--secondary);
  color: var(--background);
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
  z-index: 1;
  user-select: none ;
}

.dropdown-content > a {
  text-decoration: none;
  cursor: pointer;
  margin: 12px;
  padding-bottom: 10px;
  font-size: 14px;
}

.dropdown-content > a:hover {
  color: var(--accent);
}

.show {
  display: block;
}

p.but {
  cursor: pointer;
  margin: 10px;
  user-select: none;
}

p.but:hover {
  color: var(--secondary);
}

#filter-container {
  position: -webkit-sticky;
  color: var(--text);
  margin: 20px;
  padding: 20px 50px;
  background-color: var(--background);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  top: 0;
  user-select: none;
}

.box {
  margin: 5px 0px;
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: space-between;
}

/* Hide the browser's default checkbox */
#filter-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#filter-container input:checked + label {
  background-color: var(--text);
  color: var(--background);
}

#filter-container label {
  background-color: none;
  color: var(--text);
  padding: 5px 10px;
  margin: 10px;
  font-size: 14px;
  border: 1px solid var(--text);
  cursor: pointer;
  border-radius: 20px;
  min-width: 130px;
}

#filter-container label:hover {
  background-color: var(--text);
  color: var(--background);
}

.filterbtn.ftoggle {
  display: none;
}

@media (max-width: 1024px) {

}

@media (max-width: 750px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
  }

  #filter-container {
    display: none;
  }

  #filter-container.active {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    background: var(--background);
  }

  .filterbtn.ftoggle {
    display: block;
    background-image: none;
    margin-top: 30px
  }

  .filterbtn.filterbtn.ftoggle.active {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .header.hide {
    display: none;
  }
}