
h3 {
  color: var(--primary);
  padding: 1em;
}

h2 {
  padding: 1em 0;
  text-align: left;
  justify-self: start;
  padding-left: 2em;
  color: var(--primary);
}

span {
  color: var(--text);
  opacity: 50%;
}

#info-container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
}

section{
  padding: 6em 2em;
}

.triggercontainer.warning:not(.twdisabled) {
  border: 3px solid var(--text);
  user-select: none;
  border-radius: 5px;
  position: relative;
  width: fit-content;
  justify-self: center;
}

.triggercontainer.warning:not(.twdisabled) img {
  filter: blur(10px);
  position: relative;
}

.triggercontainer.warning:not(.twdisabled)::after {
  position: absolute;
  content: '';
  background: url(./assets/tw.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
}

.trigger-box {
  display: grid;
  justify-content: center;
}

img {
  max-height: 300px;
  width: auto;
  vertical-align: middle;
  display: inline;
  object-fit: fill;
  
  border: 3px solid var(--text);
  background-color: black;
  user-select: none;
  
  box-shadow: 0 4px 6px var(--secondary, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

img:hover, .triggercontainer.warning:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 15px var(--text, 0.1);
}

.gallery {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#image-container.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#image-container > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#image-container > div > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#image-container.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#image-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

span.date {
  font-style: italic;
  font-size: smaller;
}

div.infoBox {
  padding-left: 15px;
}

div.infoBox > p {
  font-size: 15px;
}

div.infoBox > h4 {
  margin: 0;
  padding: 0;
  font-size: larger;
}

div.infoBox > h2 {
  margin: 0;
  padding-left: 0;
}

div.links > a {
  text-decoration: none;
  padding: 0.5em 1em;
  margin-right: 1em;
}

.sort-container {
  padding: 1em;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  justify-self: flex-end;
}

.dropdownbtn {
  background-color: var(--secondary);
  color: var(--text);
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  min-width: 130px;
  user-select: none;
}

.dropdownbtn:hover, .dropdownbtn:focus{
  background-color: var(--text);
  color: var(--secondary);
}

.filterbtn {
  background-color: var(--secondary);
  color: var(--text);
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  min-width: 130px;
  user-select: none;
  border: 1px solid var(--background);
  align-self: center;
  margin: auto;
}

.filterbtn.remove {
  background-color: var(--primary);
}

.filterbtn.toggle {
  display: none;
}

.filterbtn:hover{
  background-color: var(--text);
  color: var(--background);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
  background: none;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: var(--secondary);
  color: var(--background);
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  user-select: none ;
}

.dropdown-content > a {
  background: none;
  text-decoration: none;
  cursor: pointer;
  margin: 12px;
  padding-bottom: 50px;
  font-size: 14px;
  object-fit: fill;
}

.dropdown-content > a:hover {
  color: var(--primary);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
  padding: 0;
  min-width: none;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  
  margin: 0;
  padding: 0;
  min-width: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  
  margin: 0;
  padding: 0;
  min-width: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.show {
  display: block;
}

p.but {
  cursor: pointer;
  margin: 10px;
  user-select: none;
}

p.but:hover {
  color: var(--secondary);
}

#filter-container {
  position: sticky;
  color: var(--text);
  margin: 20px 0px;
  padding: 20px 20px;
  background-color: var(--background);
  border: 2px solid var(--secondary);
  border-radius: 20px;
  top: 10px;
  user-select: none;
  height: fit-content;
  text-align: center;
}

.box {
  margin: 5px 0px;
  padding: 5px 0px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-gap: 1em 00px;
  justify-content: space-between;
}

.box > div {
  width: max-content;
}

/* Hide the browser's default checkbox */
#filter-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#filter-container input:checked + label {
  background-color: var(--text);
  color: var(--background);
}

#filter-container label {
  background-color: none;
  color: var(--text);
  padding: 5px 10px;
  margin: 10px;
  font-size: 14px;
  border: 1px solid var(--text);
  cursor: pointer;
  border-radius: 20px;
  font-size: 9pt;
}

#filter-container label.none {
  background-color: none;
  color: var(--text);
  padding: 0;
  margin: 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 0;
}


#filter-container label:hover {
  background-color: var(--text);
  color: var(--background);
}

#filter-container label.none:hover {
  background-color: var(--background);
  color: var(--text);
}

.filterbtn.ftoggle {
  display: none; 
}

.modal {
  display: none;
  position: fixed;
  z-index: 10001; /* Set higher than the header's z-index */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: baseline;
  justify-content: center;
  padding: 100px;
}

.modal-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 20px;
  align-items: center;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  border: 1px solid var(--secondary);
}

img.modal-content {
  max-height: 500px;
  width: auto;
  vertical-align: middle;
  display: inline;
  object-fit: fill;
  
  border: 3px solid var(--text);
  background-color: black;
  user-select: none;
  
  box-shadow: none;
  transition: none;
}

img.modal-content:hover{
  transform: none;
  box-shadow: none;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;
  background: none;
}

.close:hover {
  color: var(--primary);
}

@media (max-width: 1024px) {
  .gallery {
    display: flex;
    flex-direction: column-reverse;
  }

  #filter-container {
    position: relative;
    overflow: hidden;
    max-height: 0vh;
    transition: max-height ease-in-out 0.5s, padding cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;  
    margin-bottom: 20px;
  }

  .box {
    margin: 5px 0px;
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1em 00px;
    justify-content: space-between;
  }

  #filter-container.active {
    max-height: 100rem;
    padding: 20px 50px;
    border: 1px solid var(--secondary);
  }
  
  #filter-container.active .box {
    margin: 0;
    grid-gap: 15px;
  }

  .filterbtn.ftoggle {
    display: block;
    background-image: none;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #show.active {
    display: none;
  }

  .modal{
    padding: 10px;
    max-height: 100%;
  }

  .modal-infos {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  img.modal-content {
    max-height: 20%;
    max-width: 100%;
    margin: 0;
    border: none;
  }
  
}

@media (max-width: 768px) {
  #image-container > div {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
  }

  div.infoBox {
    margin-top: 2em;
  }

  #info-container {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}