p {
    color: red;
    display: none;
    justify-self: center;
    margin-top: 20px;
}

p.display {
    display: block;
}

.sec {
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 14em 7em 1em 7em;
    color: var(--text);
    background-color: var(--background);
    border-radius: 50px;
}

@media (max-width: 992px) {
    .sec {
        padding: 15px;
        margin: 7em 1em 1em 1em;
        border-radius: 15px;    
    }
}

.error {
    border: 2px solid red;
}

label {
    color: gray;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

h3 {
    color: var(--primary);
    margin-bottom: 10px;
    text-align: center;
    font-size: x-large;
}

.loginmask {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: larger;
    justify-self: center;
    width: 100%;
    height: 100%;
}

.loginmask div {
    display: grid;
    grid-template-columns: 1fr;
}

input {
    background-color: var(--background);
    font-size: large;
    border: 2px solid var(--text);
    padding: 0.5em;
}

button {
    text-decoration: none;
    padding: 6px 15px;
    margin-top: 20px;
    font-size: large;
    border-radius: 20px;
    background: var(--primary);
    border: none;
    justify-self: center;
}

button:hover {
    background-color: var(--secondary);
}

/* Some positioning and ratios */
.sticky-container {
  max-width: 270px;
  position: relative;
}

.sticky-outer {
  display: flex;
  padding-top: 92.5925926%;
  position: relative;

  width: 100%;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Shadow behind the sticky note */
.sticky:before {
  box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  content: '';
  width: 90%;
  left: 5px;
  height: 75%;
  position: absolute;
  top: 30%;
}

/* The sticky note itself */
.sticky-content {
    background: linear-gradient(
      180deg,
      rgb(239, 239, 79) 0%,
      rgb(239, 239, 79) 12%,
      rgb(218, 218, 64) 75%,
      rgb(156, 156, 35) 100%
    );
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    font-family: 'Kalam', cursive;
    font-size: 1.25rem;
  
    clip-path: url(#stickyClip);
  }

/* Position the sticky nicely, so it looks better */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container-inner {
  width: 50%;
  margin: 25px;
  position: absolute;
  right: 100px;
  top: 0px;
  rotate: 5deg;
}

/* Add responsiveness */
@media screen and (min-width: 640px) {
  .sticky-content {
    font-size: 1.5rem;
  }
  .container-inner {
    width: 50%;
    top: -100px;
    right: 290px;
    rotate: -5deg;
  }
}

@media screen and (min-width: 768px) {
  .sticky-content {
    font-size: 1.5rem;
  }
  .container-inner {
    width: 50%;
    top: -100px;
    right: -100px;
  }
}

@media screen and (min-width: 1024px) {
  .sticky-content {
    font-size: 1.875rem;
  }
  .container-inner {
    width: 25%;
    top: -200px;
    right: 100px;
  }
}
